.topCategories {
  margin-top: 2rem;
  text-align: left;
  padding: 0px 12%;
}

.topCategories .categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0px;
}

.topCategories .categoryHeading {
  display: block;
}

.topCategories .categories * {
  margin-bottom: 15px;
}
